#login-form {
    width: 500px;
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    display: block;
    min-width: 100px;
    margin-right: 10px;
}

h2 {
    text-align: center;
}